@import '../../styles.scss'; 

.card-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

mat-card{
    margin-top: 100px;

    mat-card-header{
        margin-bottom: 25px;
        padding-bottom: 16px;
        background-color: $primary-color;
        color: white;
    }

    mat-card-content{
        margin: 10px;
    }
}

mat-form-field{
    display: block;
}
